.current-run-indicator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    background-color: #F5F5F5;
    width: clamp(350px,40vw,800px);
    border-radius: 5px;
}

.count-indicator, .timer{
  background-color: transparent;
  text-align: center;
  margin: auto;
}
